*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#flexbox{
    height: auto;
    width: 100%;
    border:1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#box{
    height: 235px;
    margin-left: 5px;
    margin-bottom: 5px;
    flex-basis: 22%;
    border: 1px solid black;
}
#box img{
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}